<div class="col-md-12">
  <div class="group">
    <%= link_to("Write a review", new_list_review_path(@list), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @list.user %>
    <%= link_to("Edit", edit_list_path(@list), class: "btn btn-primary pull-right")%>
    <% end  %>
  </div>
  <h2><%= @list.title %></h2>
  <p><%= @list.profile %></p>

  <table class="table">
    <thead>
      <tr>
        <th>影评</th>
        <th>评论者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.user.email %></td>
        <td><%= review.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @reviews %>
  </div>
</div>
