<div class="col-md-12">
  <div class="group">

    <span class="pull-right">
      <% if current_user && current_user.is_member_of?(@list) %>
        <label class="label label-success">收藏影评</label>
      <% else %>
        <label class="label label-warning">您未收藏该影片</label>
      <% end %>
    </span>

    <%= link_to("Write a review", new_list_review_path(@list), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @list.user %>
    <%= link_to("Edit", edit_list_path(@list), class: "btn btn-primary pull-right")%>
    <% end  %>
  </div>
  <h2><%= @list.title %></h2>
  <p><%= @list.profile %></p>

  <table class="table">
    <thead>
      <tr>
        <th>影评</th>
        <th>评论者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.user.email %></td>
        <td><%= review.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @reviews %>
  </div>
</div>
